h1 {
  color: crimson;
}

img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: black;
  padding: 50px;
  border: solid blue 2px;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}
