body {
  background: url("https://media.istockphoto.com/photos/pepperoni-pizza-on-black-slate-background-picture-id1139597690?k=20&m=1139597690&s=170667a&w=0&h=3CwdxYVidqELszbEGpLKaQWB5ZMuFtHEPz9higABO6U=")
    no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  color: yellow;
}

img {
  width: 400px;
}

#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: black;
  padding: 50px;
  border: solid blue 2px;
  margin-top: 20px;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}

.divClass {
  text-align: center;
}
